body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    background: #f4f6f8;
}

header {
    padding: 1.5em;
}

h1 {
    font-size: 2.2em;
    margin: 0;
}

#abrirFormulario {
    background: linear-gradient(135deg, #0099ff, #0066ff);
    padding: 0.6em 1em;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 1em;
    transition: 0.2s;
}

#abrirFormulario:hover {
    transform: scale(1.05);
}

main {
    padding: 2em;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 15px;
}

.tarefa {
    position: relative;
    padding: 15px;
    border-radius: 10px;
    min-height: 120px;
    max-height: 200px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tarefa p {
    margin-top: 0em;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    width: 100%; 
    word-break: break-word;
 
}

.tarefa:hover {
    transform: translateY(-3px);
}

.excluir {
    backdrop-filter: blur(2px);
    position: absolute;
    top: 8px;
    right: 8px;
    width: 26px;
    height: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: 1px solid black;
    border-radius: 6px;
    font-size: 14px;
    opacity: 0;
    pointer-events: none; 
    transition: opacity 0.2s, transform 0.2s, background-color 0.2s;
}

.excluir img {
    width: 16px;
    height: 16px;
    pointer-events: none; 
}

.tarefa:hover .excluir {
    opacity: 1;
    pointer-events: auto;
}

.excluir:hover {
    background: rgba(0, 0, 0, 0.1);
    transform: scale(1.1);
}

.formulario {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.conteudoFormulario {
    background: white;
    padding: 25px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 320px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}

input, textarea {
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 14px;
}

.conteudoFormulario button {
    padding: 10px;
    border: none;
    border-radius: 8px;
    font-weight: bold;
}

.verde {
    background: #c8f7c5;
}

.amarelo {
    background: #fff3b0;
}

.vermelho {
    background: #ffb3b3;
}

.tarefa:hover {
    transform: rotate(-1deg) scale(1.03);
}

#salvarTarefa {
    background: linear-gradient(135deg, #0099ff, #0066ff);
    color: white;
}

#fecharFormulario {
    background: #ddd;
}

.oculto {
    display: none;
}